<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CodeRED Exploration</title>
	<link rel="stylesheet" type="text/css" href="files/styles.css"/>
	<link rel="Shortcut Icon" href="files/codered.ico" />
	<meta name="viewport" content="width=512, initial-scale=0.75"/>
	<meta name="theme-color" content="#111111">
	<script src="files/jquery-1.9.1.min.js"></script>
	<script src="files/jquery.waypoints.min.js"></script>
	<script src="files/main.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
	<canvas id="bg"></canvas>

	<!-- <div id="menu">
		<a href="#" id="menu-button"><span></span></a>
		<div id="menu-items"></div>
	</div> -->

	<!-- MLH Badge -->
	<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;left:50px;top:0;width:10%;z-index:10000;border:none;outline:none" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=white" target="_blank">
		<img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/gray.svg" alt="Major League Hacking 2018 Hackathon Season" style="width:100%">
	</a>


	<div id="content">
		<div id="above-fold">
			<div id="head">
				<h1 id="codered-logo">
					<img src="files/new-logo.svg" width="480" alt="CodeRED Exploration" />
				</h1>

				<div class="event-info">
					<div class="columns">
						<div class="column-box event-date decode-in">
							November.04-05
						</div>
						<div class="column-box event-location decode-in">
							USA.TX.Houston
						</div>
					</div>
					<p class="columns">
						<span class="column-box decode-in">Houston's</span>
						<span class="column-box decode-in">premier</span>
						<span class="column-box decode-in">innovation</span>
						<span class="column-box decode-in">experience</span>
					</p>
					<div class="columns">
						<div class="column-box event-track">
							<abbr class="decode-in" title="Augmented Reality/Virtual Reality">AR/VR</abbr>
						</div>
						<div class="column-box event-track">
							<abbr class="decode-in" title="Internet of Things">IoT</abbr>
						</div>
						<div class="column-box event-track decode-in">
							Data Science
						</div>
					</div>
					<div class="columns">
						<div class="column-box event-partner">
							<abbr class="decode-in" title="Major League Hacking">MLH</abbr>
						</div>
						<div class="column-box event-year decode-in">
							2017
						</div>
					</div>
				</div>
			</div>

			<div id="main-actions">
				<!-- <a id="apply-btn" class="typeform-share button" href="https://coderedexploration.typeform.com/to/sPGlhn" data-mode="popup" data-hide-footer="true" data-hide-headers="true" data-transparency="100">
					Apply
				</a> -->
				<!--<a id="apply-btn" href="/apply/">
					Apply
				</a>-->
				<p>Applications are now closed.</p>
			</div>
			<!-- <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> -->

			<div id="countdown" class="section-content">
				<h2>Event launch in</h2>
				<div class="timer">
					T<span class="sign">-</span><span class="days">??</span>:<span class="hours">??</span>:<span class="minutes">??</span>:<span class="seconds">??</span>
				</div>
				<div class="progress-bar">
					<canvas id="countdown-progress" width="480" height="32"></canvas>
				</div>
			</div>
		</div>

		<div id="about" class="section">
			<div class="section-head">
				<h1>About CodeRED</h1>
				<h2></h2>
			</div>

            <div class="section-content">
                <a target="_blank" href="https://www.facebook.com/pg/MajorLeagueHacking/photos/?tab=album&album_id=1261189120598430" class="invisible-link">
                    <img src="/files/album-cover.png" class="full-width-image">
                </a>
            </div>

			<div class="section-content columns columns-2">

				<div class="column-box">
					<h3>What is a Hackathon</h3>
					<p>
						An innovative event typically lasting 12-36 hours, in which participants work in small teams to build software and hardware solutions to real-life problems. Our hackathon includes fun mini-events, team building exercises, workshops, and more!
					</p>
				</div>

				<div class="column-box">
					<h3>What's new this time</h3>
					<p>
					    CodeRED Exploration will feature two tracks: <strong>Internet of Things</strong> and <strong>Augmented / Virtual Reality</strong>. Teams can submit their projects to one of these tracks for a chance to win one of the great prizes for that track. Even if the project does not fall under a particular track, the team will have a chance to take home the general prize.
					</p>
				</div>

			</div>
		</div>

		<div id="faq" class="section">
			<div class="section-head">
				<h1>Questions &amp; Answers</h1>
				<h2>You have questions. We have answers.</h2>
			</div>

			<div class="section-content columns columns-2">

				<div class="column-box">
					<h4>
						Does CodeRED Exploration cost money?
					</h4>
					<p class="answer">
						Participating is free for all student hackers. The event is funded by sponsors who provide useful technology and awesome job opportunities.
					</p>

					<h4>
						Who can participate in CodeRED Exploration?
					</h4>
					<p class="answer">
						All student hackers who are 16 by November 4th, 2017 can attend. This includes high school, undergraduate, and graduate students.
					</p>

					<h4>
						When do applications close?
					</h4>
					<p class="answer">
                        There's no deadline, but apply sooner to ensure your spot is secured!
					</p>

					<h4>
						What should I bring?
					</h4>
					<p class="answer">
						A laptop or desktop computer, student ID, chargers, a sleeping bag if desired, and any personal items.
					</p>

					<h4>
						How do I get to CodeRED Exploration?
					</h4>
					<p class="answer">
						Buses will be provided to select schools within Texas. Travel reimbursements will also be given to those who qualify, and the deadline to apply is October 21st, 2017. Plan ahead, and apply for reimbursement early!
					</p>

					<h4>
						I drove myself, where can I park?
					</h4>
					<p class="answer">
						CodeRED Exploration provides free parking to all hackers attending the event. Maps will be sent by email.
					</p>

					<h4>
						What if I&rsquo;m international?
					</h4>
					<p class="answer">
						CodeRED Exploration will not be offering travel reimbursements for international travel.
					</p>
				</div>

				<div class="column-box">

					<h4>
						What if I get hungry?
					</h4>
					<p class="answer">
						We will be providing lunch/dinner for the first day and breakfast/lunch on the second. Snacks, drinks and other miscellaneous food items will be provided throughout the night. Vegetarian and gluten free options will be available to those who specify it on their application.
					</p>

					<h4>
						How do teams work?
					</h4>
					<p class="answer">
						We suggest teams of no more than four, as prizes are limited to four per team. If you already have a team, you can identify your teammates by email on the application.
					</p>

					<h4>
						What if I don't have a team?
					</h4>
					<p class="answer">
						You can always form a team at the event, or you can work solo. Some of the best projects and hackathon experiences come from meeting and working with other makers and hackers!
					</p>

					<h4>
						What if I don't know how to code?
					</h4>
					<p class="answer">
						That's okay! We don't actually have any requirement stating you need to have experience. You will probably want to form a team with people who do, though! A huge part of the hackathon experience is learning new ideas and technologies from other hackers, our mentors, and our sponsors.
					</p>

					<h4>
						Can I be a volunteer?
					</h4>
					<p class="answer">
						Yes, we would love your help. <a href="http://cougarcs.com/codered-volunteer/" target="_blank">Sign up to volunteer here</a>.
					</p>

					<h4>
						Does CodeRED Exploration have a Code of Conduct?
					</h4>
					<p class="answer">
						Yes, all attendees, sponsors, staff and volunteers at our event are required to abide by the Major League Hacking <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>.
					</p>
				</div>
			</div>

			<div class="note">
				<p>Have a question that we didn't answer here?<br>
				Drop us a line at <a href="mailto:hackathon@cougarcs.com">hackathon@cougarcs.com</a> and we'll do our best to help!</p>

			</div>
		</div>
<!--
		<div id="winners" class="section">
			<div class="section-head">
				<h1>Winning Hacks</h1>
				<h2>Drumroll please&hellip;</h2>
			</div>

			{% for winner in site.winners %}
			<div class="section-content columns columns-1">
				<div class="column-box project">
					<img class="project-screenshot" src=""/>
					<h3>{{ winner.title }} <span class="prize">{{ winner.prize }}</span></h3>
					<p class="available">
						<a class="button" href="{{ winner.action_url }}">{{ winner.action_text }}</a>
					</p>
					<p>{{ winner.description }}</p>
				</div>
			</div>
			{% endfor %}

			<div class="clear"></div>
		</div>
-->

		<div id="schedule" class="section">
			<div class="section-head">
				<h1>Schedule</h1>
				<h2>What's happening: when and where</h2>
			</div>

			<div class="section-content columns">
				<div class="column-box">
					<h3>Saturday.Nov.04</h3>
					<table>
						<tr>
							<th>10:00</th>
							<td>
								<p>Doors open for attendee check-in<br>
								<small>Student Center South</small></p>
							</td>
						</tr>
						<tr>
							<th>12:00</th>
							<td>
								<p>Opening ceremony<br>
								<small>Student Center South</small></p>
							</td>
						</tr>
						<tr>
							<th rowspan="2">13:00</th>
							<td>
								<p>Hacking begins<br>
								<small>Student Center South</small></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>Lunch served<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						<tr>
							<th>14:30 &ndash; 15:30</th>
							<td>
								<p>Sponsored workshop<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th>16:00 &ndash; 17:00</th>
							<td>
								<p>Sponsored workshop<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th>19:00</th>
							<td>
								<p>Dinner served<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th>22:00</th>
							<td>
								<p>Mini-event<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
					</table>
				</div>
				<div class="column-box">
					<h3>Sunday.Nov.05</h3>
					<table>
						<tr>
							<th>01:00</th>
							<td>
								<p>Midnight snack<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th>02:00</th>
							<td>
								<p>Mini-event<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th>07:00</th>
							<td>
								<p>Breakfast served<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th rowspan="2">12:00</th>
							<td>
								<p>Submissions due!<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>Lunch served<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th>13:00</th>
							<td>
								<p>Judging begins<br>
								<small>Classroom &amp; Business Building</small></p>
							</td>
						</tr>
						<tr>
							<th>14:00 &ndash; 15:00</th>
							<td>
								<p>Closing ceremony<br>
								<small>Agnes Arnold Auditorium</small></p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div id="parking" class="section">
			<div class="section-head">
				<h1>Parking</h1>
				<h2>We've got a space for you</h2>
			</div>
			<div class="note">
				<p>
					CodeRED Exploration will take place at the <a href="https://www.google.com/maps/place/University+of+Houston/" target="_blank">University of Houston Main Campus</a>.<br><strong>Please be aware: Saturday is a UH football game day and therefore parking will be limited.</strong>
				</p>
			</div>

			<div class="section-content" style="margin-bottom: 32px;">
				<div id='map' style='width: 100%; height: 640px;'></div>
			</div>

			<div class="section-content columns">
				<div class="column-box">
					<h3>Sponsors, Mentors, &amp; Judges</h3>
					<p>
						We have reserved parking for you in lot 19A. Enter campus from Spur 5 and turn right on Calhoun. Look for the second CodeRED parking sign to the left.
						<a href="https://www.google.com/maps/place/19A,+Houston,+TX+77004/@29.7200924,-95.3396548,17.5z">View lot 19A on Google Maps</a>.
					</p>
					<h3>Volunteers</h3>
					<p>
						If you are arriving before 8:00&nbsp;am, please park in either lot 20A or lot 20C, otherwise you may park in lots 1B or 1E. Enter campus from Spur 5 and turn right on Calhoun. Look for the first CodeRED parking sign to the left.
						<a href="https://www.google.com/maps/place/1E,+Houston,+TX+77004/@29.7201341,-95.3391362,17.5z">View lot 1E on Google Maps</a>.
					</p>
				</div>
				<div class="column-box">
					<h3>UH Students</h3>
					<p>
						Regular parking on campus will be converted into cash lots at 8:00&nbsp;am. Please consider carpooling or arriving on campus before 8:00&nbsp;am. Parking in the Welcome Center is still available to students with a Welcome Center garage pass.
					</p>
					<h3>Non-UH Students</h3>
					<p>
						We have reserved parking for you in lots 1A and 1B. Additional parking may be available in lots 4A and 19B but they will not have posted signage. Enter campus from Spur 5.
					</p>
					<p>
						<strong>For lot 1A:</strong> turn left on Calhoun and follow the CodeRED parking signs.
						<a href="https://www.google.com/maps/place/South+Central+Houston/@29.7204627,-95.3451218,17.5z">View lot 1A on Google Maps</a>.
					</p>
					<p>
						<strong>For lot 1B:</strong> turn right on Calhoun and look for the first CodeRED parking sign to the left.
						<a href="https://www.google.com/maps/place/1B,+Houston,+TX+77004/@29.7195926,-95.3392424,17.5z">View lot 1B on Google Maps</a>.
					</p>
				</div>
			</div>
		</div>

		<div id="sponsors" class="section">
			<div class="section-head">
				<h1>Sponsors</h1>
				<h2>Proudly brought to you by the following companies</h2>
			</div>

			<div class="section-content columns">
				<ul class="companies column-box">
                    <li>
                        <a href="https://www.hcss.com">
                            <img class="company-logo" src="files/logos/HCSS.svg" alt="HCSS">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.simhouston.org">
                            <img class="company-logo" src="files/logos/SIM.svg" alt="Society for Information Management (SIM) | Where IT Leaders Connect - Houston Chapter">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.pros.com">
                            <img class="company-logo" src="files/logos/PROS.svg" alt="PROS">
                        </a>
                    </li>
                    <li>
                        <a href="https://bluechasm.com">
                            <img class="company-logo" src="files/logos/BlueChasm.svg" alt="BlueChasm - A Mark III Systems Company">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.casingequipment.com">
                            <img class="company-logo" src="files/logos/Citadel.svg" alt="Citadel Casing Solutions">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.jetbrains.com">
                            <img class="company-logo" src="files/logos/JetBrains.svg" alt="JetBrains">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.oracle.com/index.html">
                            <img class="company-logo" src="files/logos/Oracle.svg" alt="Oracle">
                        </a>
                    </li>
					<li>
						<a href="https://mlh.io/">
							<img class="company-logo" src="files/logos/MLH.svg" alt="Major League Hacking">
						</a>
					</li>
					<li>
						<a href="https://github.com/">
							<img class="company-logo" src="files/logos/GitHub.svg" alt="GitHub">
						</a>
					</li>
					<!--<li>
						<a href="https://www.bloomberg.com/">
							<img class="company-logo" src="files/bloomberg-logo.svg" alt="Bloomberg">
						</a>
					</li>-->
					<!--<li>
						<a href="https://www.microsoft.com/">
							<img class="company-logo" src="files/microsoft-logo.svg" alt="Microsoft">
						</a>
					</li>-->
					<li>
						<a href="http://csgirls.org">
							<img class="company-logo" src="files/logos/CSGirls.svg" alt="CSGirls">
						</a>
					</li>
					<!--<li>
						<a href="http://redlabs.uh.edu">
							<img class="company-logo" src="files/logos/REDLabs.svg" alt="RED Labs">
						</a>
					</li>-->
				</ul>
			</div>
			<div class="note">
                <p>Interested in sponsoring? Drop us a line at
                <a href="mailto:hackathon@cougarcs.com">hackathon@cougarcs.com</a>
                and we will send you more information!</p>
            </div>
		</div>
<!--
		<div id="organizers" class="section">
			<div class="section-head">
				<h1>Organizers</h1>
				<h2>Meet the Team Behind CodeRED</h2>
			</div>
			<div class="section-content columns columns-1">
				<div class="organizer-grid">
					{% for organizer in site.data.organizers %}
					<div class="organizer">
						<div class="organizer-bg" style="background-image: url(files/organizers/{{ organizer.photo }});"></div>
						<div class="organizer-info">
							<span class="organizer-name">{{ organizer.first_name }}</span>
							<span class="organizer-role">{{ organizer.role }}</span>
						</div>
					</div>
					{% endfor %}
					<div class="organizer">
						<div class="organizer-bg" style="background-image: url(files/organizers/max.jpg);"></div>
						<div class="organizer-info">
							<span class="organizer-name">Maxwell Ciotti</span>
							<span class="organizer-role">Lead Designer</span>
						</div>
					</div>
					<div class="organizer">
						<div class="organizer-bg" style="background-image: url(files/organizers/max.jpg);"></div>
						<div class="organizer-info">
							<span class="organizer-name">Maxwell Ciotti</span>
							<span class="organizer-role">Lead Designer</span>
						</div>
					</div>
					<div class="organizer">
						<div class="organizer-bg" style="background-image: url(files/organizers/max.jpg);"></div>
						<div class="organizer-info">
							<span class="organizer-name">Maxwell Ciotti</span>
							<span class="organizer-role">Lead Designer</span>
						</div>
					</div>
					<div class="organizer">
						<div class="organizer-bg" style="background-image: url(files/organizers/max.jpg);"></div>
						<div class="organizer-info">
							<span class="organizer-name">Maxwell Ciotti</span>
							<span class="organizer-role">Lead Designer</span>
						</div>
					</div>
					<div class="organizer">
						<div class="organizer-bg" style="background-image: url(files/organizers/max.jpg);"></div>
						<div class="organizer-info">
							<span class="organizer-name">Maxwell Ciotti</span>
							<span class="organizer-role">Lead Designer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
		<div id="foot">
			<p>
				Organized by <a href="http://www.cougarcs.com" target="_blank">CougarCS</a>, an ACM chapter at the University of Houston.
			</p>
		</div>
	</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91378664-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-91378664-1');
</script>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWRjaW90dGkiLCJhIjoiY2l1cWdyamw5MDAxcTJ2bGFmdzJxdGFyNyJ9.2b6aTKZNlT1_DEJiJ9l3hw';
var map = new mapboxgl.Map({
	container: 'map',
	style: 'mapbox://styles/mdciotti/cj7m6ru4a8zl52rmmek96cgvp',
	zoom: 15,
	pitch: 45,
	center: [-95.340560, 29.719418]
});
</script>

</body>
</html>
